[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
pypdf = "*"
speechrecognition = "*"
pydub = "*"
gtts = "*"
elevenlabs = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
